{{define "title"}}
{{end}}

{{define "css"}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{{end}}

{{define "script"}}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
    $('.table').DataTable({})
})
</script>
{{end}}


{{define "main"}}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Task</li>
                        <li class="breadcrumb-item active">Data Task</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-13">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Data Task</h3>
                        </div>
                        <!-- /.card-header -->

                        <form action method="post">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>User Created Task</th>
                                        <th>Assign To</th>
                                        <th>Deadline</th>
                                        <th>Company</th>
                                        <th>PIC</th>
                                        <th>Sales</th>
                                        <th>Task Notes</th>
                                        <th>Task Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{range $task:= .DataTask}}
                                    <tr>
                                        <td>{{$task.UserCreatedTask}}</td>
                                        <td>{{$task.AssignTask}}</td>
                                        <td>{{$task.Deadline}}</td>
                                        <td>{{$task.Company}}</td>
                                        <td>{{$task.PIC}}</td>
                                        <td>
                                            {{$task.Sales}}
                                        </td>
                                        <td>
                                            {{$task.TaskNotes}}
                                        </td>
                                        <td>{{$task.StatusTask}}</td>

                                        <td>
                                            {{if ne $task.StatusTask "done" }}
                                            <a href="/edit_task/{{$task.CodeTask}}" class="btn btn-danger">Edit Task</a>
                                            <a href="#" class="btn btn-warning">Add Comment</a>
                                            <form action="/done/{{$task.CodeTask}}" method="POST">
                                                <button type="submit" class="btn btn-info">Done</button>
                                            </form>

                                            {{else}}
                                            <button type="button" href="#" class="btn btn-success">Done</button>
                                            <a href="#" class="btn btn-info">Show Comment</a>
                                            {{end}}
                                        </td>
                                    </tr>
                                    {{end}}
                                    </tbody>

                                </table>

                            </div>


                        </form>


                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



<h1 class="display-6 mt-5">Task List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Code Task</th>
            <th>Task</th>
            <th>Assign To</th>
            <th>Deadline</th>
            <th>Status Task</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
        {{range $task:= .Tasks}}
            <tr>
                <td>{{$task.CodeTask}}</td>
                <td>{{$task.Task}}</td>
                <td>{{$task.UserDestinationTask}}</td>
                <td>{{$task.DeadlineTask}}</td>
                <td>{{$task.StatusTask}}</td>
                <td>
                    {{if ne $task.StatusTask "Done" }}
                    <a href="#" class="btn btn-warning">Add Comment</a>
                    <a href="#" class="btn btn-info">Show Comment</a>
                    <a href="/edit_task/{{$task.CodeTask}}" class="btn btn-danger">Edit Task</a>
                    <form action="/done/{{$task.CodeTask}}" method="POST">
                        <button type="submit" class="btn btn-info">Done</button>
                    </form>

                    {{else}}
                    <button type="button" href="#" class="btn btn-success">Done</button>
                    <a href="#" class="btn btn-info">Show Comment</a>
                    {{end}}
                </td>
            </tr>
        {{end}}
        </tbody>

</table>
<a class="btn btn-success" href="/add_task"> <i class="fa-solid fa-plus"></i>Create Task</a>
{{end}}

{{define "footer"}}
{{end}}